---
import Section from "@components/Section.astro";
import { TESTIMONY } from "@const/testimony";
---

<Section>
  <h2 class="text-center text-verde-xkale">
    Lo dicen quienes ya aplicaron la estrategia
  </h2>
  <h5  class="text-center text-verde-xkale mb-8">
    Empresas en LATAM que aplicaron la estrategia  y hoy ven los resultados
  </h5>
  <!-- Slider main container -->
  <div class="">
    <div class="swiper swiper-hero">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        {
          TESTIMONY.map(({ id, name, position, company, body }) => (
            <div class="swiper-slide">
              <article class=" p-6 bg-black-xkale/50 backdrop-blur-md rounded-xl h-full">
                  <div class="flex items-center space-x-4 mb-8">
                    <img src={`/images/testimonios/${id}.avif`} alt={name} class="h-20 "/>
                    <div class="text-white-xkale ">
                      <h3 class="mb-0.5">{name}</h3>
                      <h4 class="mb-0 italic text-white-xkale/30">{position}</h4>
                      <h5 class="mb-0 italic text-white-xkale/30">{company}</h5>
                    </div>
                  </div>
                <div class="text-white-xkale h-full">
                  {Array.isArray(body) ? body.map(({ first, second }) => (
                    <p>{first}</p>
                    <p>{second}</p>
                  )) : <p>{body}</p>}
                </div>
              </article>
            </div>
          ))
        }
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</Section>

<style>
 .swiper {
    width: 20rem;
    @media (min-width: 1024px) {
      width: 100%;
    }
  }

  .swiper-wrapper {
    width: 100%;
    height: 100%;
    @media (min-width: 1024px) {
      height: 18rem;
    }
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .swiper-hero .swiper-button-prev,
  .swiper-hero .swiper-button-next {
    --swiper-navigation-size: 1.5rem;
    color: var(--color-white-xkale);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .swiper-hero:hover .swiper-button-prev,
  .swiper-hero:hover .swiper-button-next {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .swiper-hero .swiper-pagination {
    --swiper-pagination-color: var(--color-white-xkale);
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2px;
  }
</style>

<script type="module">
  const swiper = new Swiper('.swiper-hero', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  autoplay: {
    delay: 5000,
    pauseOnMouseEnter: true,
    disableOnInteraction: false
  },

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar


  breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 1,
      spaceBetween: 20
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 1,
      spaceBetween: 30
    },
    // when window width is >= 640px
    640: {
      slidesPerView: 1,
      spaceBetween: 30
    }
  }
});
</script>
